.main{
    border: 2px solid white;
    height: 500px;
    width: 300px;
    margin: auto;
    display: flex;
    

}
.box
{
    color: white;
    height: 475px;
    width: 275px;
    margin: auto;
    border-radius: 25px;
    background-image: url(./img/pexels-pixabay-531880.jpg);  
    text-align: center;
    justify-content: space-around;

}
input{
   
    height: 25px;
    width: 250px;
    border-radius: 25px;
    text-align: center;
    font-size: large;
}
.icon
{
    color: black;
    position: absolute;
    margin-left: 8px;
    margin-top: 7px;
}
#Submit
{
    background-color:green;
    height: 30px;
}